:root {
--dark-brown: hsl(25, 47%, 15%);
--medium-brown: hsl(28, 10%, 53%);
--cream: hsl(27, 66%, 92%);
--very-pale-orange: hsl(33, 100%, 98%);
}

body {
    background-color: var(--cream);
}

.card {
    margin: auto;
    max-width: 375px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

